@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding-right: 0 !important; /* NextUI adds padding to account for scrollbar */
}

@font-face {
  font-family: "Allumi";
  src: url("../../public/fonts/Allumi.woff2");
}

@font-face {
  font-family: "AllumiBold";
  src: url("../../public/fonts/AllumiBold.woff2");
}
